.map__container {
  width: 1100px;
  height: 780px;
  position: relative;
  justify-content: center;

  // 公共块
  .canvaseffect {
    position: absolute;
  }

  #GRID_CANVAS {
    @extend .canvaseffect;
    z-index: 4;
  }
  #PREFAB {
    @extend .canvaseffect;
    z-index: 3;
  }
  #FRONT {
    // border: 1px solid black;
    @extend .canvaseffect;
    z-index: 2;
  }
  #MIDDLE {
    // border: 2px solid rgb(204, 110, 110);
    @extend .canvaseffect;
    z-index: 1;
  }
  #BACKGROUND {
    // border: 3px solid rgb(20, 168, 87);
    @extend .canvaseffect;
    z-index: 0;
    background-color: rgb(205, 214, 211);
  }

  // 禁止文字被鼠标选中
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
