.el-card {
  margin-left: 10px;
  margin-right: 10px;
}

.map__container {
  width: 1100px;
  height: 780px;
  position: relative;
  justify-content: center;

  // 公共块
  .canvaseffect {
    position: absolute;
  }

  .bg_img {
    @extend .canvaseffect;
  }

  img[src=''] {
    display: none;
  }

  #SPECIAL {
    @extend .canvaseffect;
    z-index: 50;
  }

  #GRID_CANVAS {
    @extend .canvaseffect;
    z-index: 100;
  }
  #PREFAB {
    @extend .canvaseffect;
    z-index: 3;
  }
  #FRONT {
    // border: 1px solid black;
    @extend .canvaseffect;
    z-index: 2;
  }
  #MIDDLE {
    // border: 2px solid rgb(204, 110, 110);
    @extend .canvaseffect;
    z-index: 1;
  }
  #BACKGROUND {
    // border: 3px solid rgb(20, 168, 87);
    @extend .canvaseffect;
    z-index: 0;
    background-color: rgba(205, 214, 211, 0.315);
  }
  #BRUSH {
    @extend .canvaseffect;
    z-index: 50;
  }

  // 禁止文字被鼠标选中
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
