.map__container {
  #FRONT {
    border: 1px solid black;
    position: absolute;
    z-index: 2;
  }
  #MIDDLE {
    border: 2px solid rgb(204, 110, 110);
    position: absolute;
    z-index: 1;
  }
  #BACKGROUND {
    border: 3px solid rgb(20, 168, 87);
    position: absolute;
    z-index: 0;
    background-color: aquamarine;
  }
}
